/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    /* colors variabls */
    --Headings-color: #609def;
    --secondary-color: #1f9d97;
    --accent-color: #b74b4c;
    --text-font: 'Roboto Mono', monospace;
    --heading-font: "Quicksand", sans-serif;
}

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

/* Remove default styles for select and option elements */
select, option {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none; /* For Safari and Chrome */
    -moz-appearance: none; /* For Firefox */
    appearance: none;
    padding: 0;
    margin: 0;
    font: inherit; /* Inherit font styles from parent */
}

header{
    top: 40px;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 80px 0 80px;
    z-index: 99;
    /* border: 1px solid red; */

    .session_value{
        color:  transparent;
    }

    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: .5);

        .logo{
            position: relative;
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 2px; /* Adjust the height for the underline thickness */
                bottom: 4%; /* Adjust to position the underline below the element */
                left: 12%;
                background-color: var(--Headings-color);
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }

            &:hover::before {
                visibility: visible;
                width: 80%;
            }
            
            img{
                height: 100%;
                width: 80%;
            }
        }

        .nav_bar{
            position: relative;
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            // border: 1px solid green;
            a{
                position: relative;
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-family: var(--heading-font);
                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -20%;
                    left: 0;
                    background-color: var(--Headings-color);
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
        
                &:hover::before {
                    visibility: visible;
                    width: 100%;
                }
            }
            select, option{
                background-color: var(--accent-color);
                cursor: pointer;
                font-size: 18px;
                font-family: var(--heading-font);
                color: white;
                padding: 2% 5%;
            }
            span{
                position: absolute;
                top: 20%;
                right: 5%;
            }
        }
    }
    
}

.main_section{
    width: 100%;
    height: 1000px;
    // border: 1px solid red;
    .background{
        position: relative;
        width: 100%;
        height: 65%;
        z-index: -100;
        overflow: hidden;
        // border: 1px solid blue;
        video{
            position: absolute;
            bottom: -13%;
            width: 100%;
        }
    }
    article{
        position: relative;
        bottom: 8%;
        left: 10%;
        width: 50%;
        height: 40%;
        // border: 1px solid red;
        .title{
            display: flex;
            align-items: self-start;
            justify-content: center;
            width: 50%;
            height: 25%;
            padding-top: 1%;
            border: 1px solid transparent;
            border-top: 1px solid var(--Headings-color);
            border-left: 1px solid var(--Headings-color);
            border-right: 1px solid var(--Headings-color);
            h1{
                font-family: var(--heading-font);
                color: white;
                font-size: 52px;
            }
        }
        .parag{
            position: relative;
            width: 90%;
            height: 100% - 25%;
            padding: 2%;
            border: 1px solid transparent;
            border-left: 1px solid var(--Headings-color);
            border-right: 1px solid var(--Headings-color);
            border-bottom: 1px solid var(--Headings-color);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 55%;
                border-top: 1px solid var(--Headings-color);
            }
            p{
                font-family: var(--text-font);
                font-size: medium;
                line-height: 2;
            }
        }
    }
}

.habitat_section{
    width: 100%;
    height: auto;
    .habitat_title{
        height: 50px;
        width: 90%;
        margin: auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: .5);
        // border: 1px solid red;
        h1{
            font-family: var(--heading-font);
            color: white;
            font-size: 24px;
            text-transform: capitalize;
        }
    }

    .habitat_content{
        position: relative;
        width: 100%;
        height: 800px;
        margin-top: 25px;
        // border: 1px solid red;
        article{
            width: 100%;
            height: 54%;
            // border: 1px solid blue;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 5fr 3fr;

            .img {
                position: relative;
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                display: flex;
                align-items: center;
                justify-content: center;
                // border: 1px solid red;
                video{
                    width: 75%;
                    z-index: 1;
                    position: relative;
                    border-radius: 10px;
                }
                &::before, &::after {
                    content: "";
                    position: absolute;
                    z-index: 0; // Ensure shapes are behind the video
                }
            
                &::before {
                    width: 30%;
                    height: 50%;
                    background-color: var(--secondary-color); // Semi-transparent color
                    border-radius: 50%; // Circle shape
                    top: 5%;
                    left: 5%;
                }
            
                &::after {
                    width: 30%;
                    height: 50%;
                    background-color: var(--accent-color); // Semi-transparent color
                    border-radius: 10%; // Square shape with rounded corners
                    bottom: 8%;
                    right: 8%;
                }
            }
            
            .nom, .description, .commentaire {
                grid-column: 2 / 3;
            }
            
            .nom {
                grid-row: 1 / 2;
                // border: 1px solid red;
            }
            
            .description {
                grid-row: 2 / 3;
                // border: 1px solid red;
            }
            
            .commentaire {
                grid-row: 3 / 4;
                // border: 1px solid red;
            }
        }

        .modify_habitat, .add_habitat, .delete_habitat{
            position: absolute;
            height: 5%;
            width: 12%;
            top: 47%;
            left: 65%;
            display: flex;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            font-weight: 600;
            background-color: var(--Headings-color);
            color: white;
            font-family: var(--heading-font);
            font-size: 18px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: var(--secondary-color);
            }
        }
        .add_habitat{
            left: 51%;
        }
        .delete_habitat{
            left: 80%;
        }

        .hide_habitat_button{
            display: none;
        }

        .list_animal {
            width: 90%; /* Ensure the container spans the full width of its parent */
            height: 40%;
            margin: auto;
            gap: 20px;
            display: flex;
            overflow-x: auto; /* Allow horizontal scrolling */
            scroll-snap-type: x mandatory; /* Optional: for snapping effect */
        
            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }
            &.active {
                cursor: grabbing;
                cursor: -webkit-grabbing;
            }
        
            .animal_content {
                position: relative;
                flex: 0 0 auto; /* Ensure each item has a fixed width */
                height: 100%;
                width: 550px;
                display: flex;
                // border: 1px solid red;
        
                .img {
                    flex: 0 0 50%; /* 50% width of the .animal_content */
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid blue;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover; /* Ensures the image covers the container */
                    }
                }
        
                .details {
                    flex: 1; /* Take remaining width of .animal_content */
                    height: 100%;
                    // border: 1px solid green;
                    .prenom{
                        width: 100%;
                        height: 20%;
                        // border: 1px solid red;
                    }
                    .etat{
                        width: 100%;
                        height: 80%;
                        // border: 1px solid red;
                    }
                }
                .modify_animal, .add_animal, .delete_animal{
                    display: none;
                    position: absolute;
                    height: 13%;
                    width: 28%;
                    bottom: 5%;
                    left: 1%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    border-radius: 20px;
                    font-weight: 600;
                    background-color: var(--Headings-color);
                    color: white;
                    font-family: var(--heading-font);
                    font-size: 16px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        background-color: var(--secondary-color);
                    }
                }
                .add_animal{
                    left: 36%;
                }
                .delete_animal{
                    left: 70%;
                }

                .hide_animal_button{
                    display: none;
                }
                
            }
            
        }
        
    }
}